{
  "parser": "babel-eslint",
  "extends": ["eslint-config-airbnb"],
  "plugins": [
    "react",
    "import"
   ],
  "env": {
    "browser": true,
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },  
}
